@Model Student

<div class = "card rounded shadow p-3">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Issue</th>
                <th>Created</th>
                <th>Active</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var t in Model.Tickets) {
                <tr>
                    <td>@t.Issue</td>
                    <td>@t.CreatedOn.ToShortDateString()</td>
                    <td>@t.Active</td>
                    <td><a asp-controller = "Student" asp-action = "TicketDelete" asp-route-id = "@t.Id" class="btn btn-sm btn-danger">Delete Ticket</a></td>
                </tr>
            }        
        </tbody>
    </table>
</div>